{{#extend "layout"}}

    {{#append "body"}}

        <div class="tier">
            <ul class="hList">
                <li><a href="#">Get a quote</a></li>
                <li><a href="#">Go to Allstate.com</a></li>
                <li><a href="#">Find an Allstate Agent</a></li>
            </ul>
        </div>

    {{/append}}

{{/extend}}
